In [1]:
import pandas as pd

# Sample Data
data = {
    "original_equipment_manufacturer": ["Audi", "BMW", "Chevrolet"],
    "car_model": [
        ["Audi A4", "Audi A6", "Audi Q7", "Audi Q5"],
        ["BMW 5 Series", "BMW 3 Series GT"],
        ["Chevrolet Cruze", "Chevrolet Beat"]
    ],
    "variant_name": [
        ["35 TDI Premium", "35 TDI", "35 TDI Quattro Premium"],
        ["520d Sedan", "530i Sport", "Luxury Line"],
        ["LTZ", "LT", "LTZ", "1.0 LS"]
    ]
}

# Creating DataFrame
df = pd.DataFrame(data)
df

,original_equipment_manufacturer,car_model,variant_name
0,Audi,"[Audi A4, Audi A6, Audi Q7, Audi Q5]","[35 TDI Premium, 35 TDI, 35 TDI Quattro Premium]"
1,BMW,"[BMW 5 Series, BMW 3 Series GT]","[520d Sedan, 530i Sport, Luxury Line]"
2,Chevrolet,"[Chevrolet Cruze, Chevrolet Beat]","[LTZ, LT, LTZ, 1.0 LS]"

In [2]:
data = {
    "original_equipment_manufacturer": [
        "Audi", "Audi", "Audi", "BMW", "BMW", "Chevrolet", "Chevrolet"
    ],
    "car_model": [
        "Audi A4", "Audi A6", "Audi Q7", "BMW 5 Series", "BMW 3 Series GT",
        "Chevrolet Cruze", "Chevrolet Beat"
    ],
    "variant_name": [
        "35 TDI Premium", "35 TDI", "35 TDI Quattro Premium", "520d Sedan",
        "530i Sport", "LTZ", "1.0 LS"
    ]
}

# Creating DataFrame
df = pd.DataFrame(data)

In [3]:
df

  original_equipment_manufacturer        car_model            variant_name
0                            Audi          Audi A4          35 TDI Premium
1                            Audi          Audi A6                  35 TDI
2                            Audi          Audi Q7  35 TDI Quattro Premium
3                             BMW     BMW 5 Series              520d Sedan
4                             BMW  BMW 3 Series GT              530i Sport
5                       Chevrolet  Chevrolet Cruze                     LTZ
6                       Chevrolet   Chevrolet Beat                  1.0 LS

In [6]:

# Group by original_equipment_manufacturer
grouped_df = df.groupby("original_equipment_manufacturer")[["car_model", "variant_name"]].agg(list).reset_index()

grouped_df

,original_equipment_manufacturer,car_model,variant_name
0,Audi,"[Audi A4, Audi A6, Audi Q7]","[35 TDI Premium, 35 TDI, 35 TDI Quattro Premium]"
1,BMW,"[BMW 5 Series, BMW 3 Series GT]","[520d Sedan, 530i Sport]"
2,Chevrolet,"[Chevrolet Cruze, Chevrolet Beat]","[LTZ, 1.0 LS]"

In [21]:
grouped_df[grouped_df["original_equipment_manufacturer"]== 'Audi']['car_model'].to_list()[0]

['Audi A4', 'Audi A6', 'Audi Q7']

In [7]:
grouped_df['original_equipment_manufacturer'].to_list()

['Audi', 'BMW', 'Chevrolet']